**/lib
**/node_modules
**/style
**/package.json
**/tsconfig.json
**/tsconfig.test.json
**/*.d.ts
**/test
**/ui-tests

docs
tests
.eslintrc.js
jupyter-config
jupyter_collaboration

packages/collaboration/babel.config.js
packages/docprovider/babel.config.js
packages/docprovider/jest.config.js
