# Exclude.
.*
_vendor*/*
node_modules
yarn.lock
yarn-error.log
build
coverage
dist
lib
__pycache__
*.code-workspace
*.ipynb
*.profraw
*.tsbuildinfo
*.egg-info

# Include.
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!**/.github
!**/.readthedocs.yml
!**/.storybook
