# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Exclude.
.*
_vendor*/*
node_modules
npm-debug.log*
package-lock.json
*.log*
*.lock
build
coverage
dist
lib
__pycache__
*.code-workspace
*.ipynb
*.profraw
*.tsbuildinfo
*.egg-info
**/externals/*

# Include.
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!**/.env
!**/.github
!**/.readthedocs.yml
!**/.storybook
!**/externals/README.md
automerge/rust/rtc.yaml
